<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="kr.co.gudi.archive.dao.ArchiveDAO">

	<select id="list" resultType="arch">
		SELECT * FROM archive ORDER BY archive ASC LIMIT 10 OFFSET #{param1}
	</select>
	

</mapper>